[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
motor = "*"
pyjwt = {extras = ["crypto"], version = "*"}

[dev-packages]

[requires]
python_version = "3.7"
